lxml==4.5.0
cryptography==2.8
keyring==18.0.1
toml==0.10.1
typing_extensions==3.7.4.3
zipp==3.5.0
importlib_metadata==4.8.1
tornado==6.1
numpy==1.21.2
flake8==3.9.2
pylint==2.10.2
brotli==1.0.9
Cython==0.29.25
docutils==0.18.1
eradicate==2.0.0
jnius==1.1.0
lockfile==0.12.2
mypy==0.910
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
PyStemmer==2.0.1
radon==5.1.0
testsuite==0.1.2
vulture==2.3
